* {
	box-sizing: border-box;	
}
body {
	background: #dce2f7;
	margin: 0;
	display: flex;
	justify-content: center;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5em;
	width: 500px;
}

header {
	background-color: #aa7ae4;
	color: white;
	font-size: 0.9em;
	font-weight: bolder;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}
div.todo {
	background-color: white;
	padding: 15px 15px 30px;
}
.btn {
	align-self: center;
	border-radius: 7px;
	border: none;
	color: white;
	font-size: 1em;
	font-weight: bolder;
	outline: none;
	padding: 10px;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
}
.btn-add {
	margin-top: 20px;
	display: block;
	width: 100%;
	background-color: #aa7ae4;
}

.btn-add:hover {
	background-color: #a66bec;
}

.btn-delete {
  background-color: red;
}

.btn-delete:hover {
  background-color: #d10000;
}

.btn-complete {
  background-color: green;
}

.btn-complete:hover {
  background-color: #265a26;
}
.hidden {
	display: none!important;
}
.new-task-text {
	color: #8a8b8c;
	display: block;
}
.todo-form {
	padding-left: 3px;	
  padding-bottom: 15px;
}
.todo-input {
	border: 1px solid #ced4da;
  padding: 7px;
	width: 100%;
}
.todo-input:focus {
	outline: none;
}
.line-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.todo-list {
	padding-left: 0;
	list-style-type: none;
}

.todo-list li {
	display: flex;
  column-gap: 10px;
  align-items: center;
	margin-bottom: 5px;
}

.todo-list li input {
	margin-right: 4px;
}

.todo-list li span {
	flex: 1 1 0;
	font-size: 0.9em;
}

/*.todo-list li a::before {
	font-family: "Font Awesome 5 Free";
	content: "\f2ed";
}*/

.task-complete {
	text-decoration: line-through;
  color: #919191;
}
